/*
section {
    background-color: #f8f8f8;
    padding: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #dcdcdc;
}

section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

section p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

section a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

    section a:hover {
        background-color: #0062cc;
    }
*/
