@{
    Layout = "~/Views/Shared/_Gaming.cshtml";
    ViewBag.Title = "Game2";
}

<form style="margin:auto" method="post">
    <div class="Page">
        
        <button type="button" class="btn btn-primary">開始</button>
        <button type="button" class="btn btn-warning">取消</button>
    </div>
</form>
