<!DOCTYPE HTML>
<!--
    Hielo by TEMPLATE    templated.co Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>NuNuGaming Gaming & NuNugameAPI</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/Assist_TemplateLayout/Gamingassets/css/main.css" />

    <script src="~/Assist_TemplateLayout/Gamingassets/js/jquery.min.js"></script>
    <script src="~/Assist_TemplateLayout/Gamingassets/js/jquery.scrollex.min.js"></script>
    <script src="~/Assist_TemplateLayout/Gamingassets/js/skel.min.js"></script>
    <script src="~/Assist_TemplateLayout/Gamingassets/js/util.js"></script>
    <script src="~/Assist_TemplateLayout/Gamingassets/js/main.js"></script>
</head>
<body>
    <!-- Header -->
    <header id="header">
        <div class="logo"><a href="">NuNuGamning <span></span></a></div>
        <a href="#menu">Menu</a>
    </header>


    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="/Home/Elements">Elements</a></li>
            <li><a href="/Home/NuNugame2">NuNuGaming</a></li>
            <li><a href="/Home/NuNugameAPI">APISearch</a></li>
            <li><a href="/Home/Advice">letter of advice</a></li>
            <li><a href="/Home/HomePage">Sign Outs</a></li>
        </ul>
    </nav>
    <!-- One -->
    <section id="One" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>Tsai Hau Wei</p>
                <h2>NuNuGaming</h2>
            </header>
        </div>
    </section>
    <div>
        @RenderBody()
    </div>
</body>
</html>
