<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Assist/Css/Layout_HomePage.css")" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="image-bg-4">
        <header>
            <h2 class="logo">Login_Logo</h2>
            <nav class="navigation">
                <a href="/Home/HomeOverView">Overview</a>
                <a href="/Home/HomePage">Login</a>
            </nav>
        </header>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>


